*
{
    margin: 0;
    padding: 0;
}

#container
{
    display: grid;
    
}

#Header
{
    background-color: #2ECC40;
    display:grid;
    color: white;
    width: 400px;
    height: 45px;
    
}

#Menu
{
    background-color: #FFDC00;
    color: white;
    display:grid;
   grid-column-start: 2;
   grid-column-end: span 6;
    
}

#Content1
{
    background-color: #F012BE;
    color:white;
    font-size: 30px;
    display: grid;
    height: 400px;
    /* width:400px; */
    grid-column-start: auto;
    grid-column-end: span 7;
    
}

#Content2
{
    background-color: #0074D9;
    color: white;
    font-size: 20px;
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    justify-content: center;
}

#Blankspace
{
    background-color: white;
    display: grid;
    height: 300px;
    width: 398px;
    grid-row-start: 3;
}

/* #container2
{
    display:grid;
    flex-wrap: nowrap;
    flex-direction: column;
    
} */

#Image
{
    background-color: #FF4136;
    color: white;
    display: grid;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start:4;
    grid-column-end: 8;
    height: 200px;
}
#Extra
{
    background-color: #01FF70;
    color: white;
    display: grid;
    height: 200px;
    grid-column-start:4;
    grid-column-end: 8;
    grid-row-start: 4;
    
}

#Footer
{
    background-color: #B10DC9;
    color: white;
    display: grid;
    height:60px;
    grid-row-start:5;
    grid-column-start: auto;
    grid-column-end: span 7;
    justify-content: center;
}